In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.read_csv('data/ufo_df.csv', index_col=0)

,datetime,geolocation,season,month,day,time_of_day,region,shape,duration,report_text
report_id,,,,,,,,,,
073/S73909,2010-01-01 00:00:00,"Park City, KY",Winter,January,Friday,Night,East South Central,Light,3.0,"Lights orbiting the moon,I am 10,and i was wit..."
073/S73915,2010-01-01 00:00:00,"La Mesa, CA",Winter,January,Friday,Night,Pacific,Light,600.0,Three red lights over southern California that...
078/S78231,2010-01-01 00:00:00,"Benton, AR",Winter,January,Friday,Night,West South Central,Circle,300.0,4 bright green circles high in the sky going i...
073/S73918,2010-01-01 00:00:00,"El Cajon, CA",Winter,January,Friday,Night,Pacific,Triangle,720.0,"3 Red objects hovering over El Cajon CA ,Exit..."
073/S73916,2010-01-01 00:00:00,"Lemon Grove, CA",Winter,January,Friday,Night,Pacific,Light,900.0,3 Red lights in line pattern above El Cajon/ E...
...,...,...,...,...,...,...,...,...,...,...
151/S151926,2019-12-28 21:00:00,"Spokane, WA",Winter,December,Saturday,Evening,Pacific,Fireball,180.0,Me and my father were sitting in the hot tub r...
151/S151915,2019-12-29 17:25:00,"South River, NJ",Winter,December,Sunday,Afternoon,Mid-Atlantic,Other,3.0,My son reported that for a three seconds he wi...
152/S152933,2019-12-31 22:20:00,"Florence, AZ",Winter,December,Tuesday,Evening,Mountain,Light,120.0,New Year's Eve leaving from a friend's house w...
152/S152185,2019-12-31 22:30:00,"Lake City, FL",Winter,December,Tuesday,Evening,South Atlantic,Circle,120.0,"One orange circular object traveling NW to SE,..."
152/S152250,2019-12-31 22:30:00,"Captain Cook, HI",Winter,December,Tuesday,Evening,Pacific,Other,1800.0,40 + sparkling lights high up moving slowly ea...