In [17]:
import pandas as pd
import re

In [3]:
txt_file = r"isd-history.txt"

In [4]:
read_file = pd.read_csv(txt_file)

In [5]:
read_file.columns[0]

'USAF   WBAN  STATION NAME                  CTRY ST CALL  LAT     LON      ELEV(M) BEGIN    END'

In [103]:
read_file.iloc[0, 0]

'007018 99999 WXPOD 7018                                  +00.000 +000.000 +7018.0 20110309 20130730'

In [38]:
string = read_file.columns[0]

In [74]:
pattern = r'\S+'

In [77]:
# list of indices at start of each item in string
itm_idx = [m.start(0) for m in re.finditer(pattern, string)]

In [93]:
def parse_stations(line):
    item_list = []
    # iterate through each item
    for i in range(len(itm_idx)):
        # slice string up to last item
        if i < len(itm_idx)-1:
            item_list.append(line[itm_idx[i]:itm_idx[i+1]].strip())
        # slice last item in string
        else:
            item_list.append(line[itm_idx[i]:].strip())
    return(item_list)

In [99]:
# parse data columns
parsed_columns = parse_stations(read_file.columns[0])

In [97]:
# parse data
parsed_data = read_file.iloc[:, 0].apply(parse_stations)

In [100]:
# create station data dataframe
sta_df = pd.DataFrame(list(parsed_data.values), columns=parsed_columns)
sta_df.head()

,USAF,WBAN,STATION,NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
0,007018,99999,WXPOD 70,18,,,,+00.000,+000.000,+7018.0,20110309,20130730
1,007026,99999,WXPOD 70,26,AF,,,+00.000,+000.000,+7026.0,20120713,20170822
2,007070,99999,WXPOD 70,70,AF,,,+00.000,+000.000,+7070.0,20140923,20150926
3,008260,99999,WXPOD827,0,,,,+00.000,+000.000,+0000.0,20050101,20100920
4,008268,99999,WXPOD827,8,AF,,,+32.950,+065.567,+1156.7,20100519,20120323

In [101]:
len(sta_df)

29748

In [105]:
# stations in the US
us_sta = sta_df[sta_df['CTRY']=='US'].copy()
us_sta.head()

,USAF,WBAN,STATION,NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
13133,621010,99999,MOORED B,UOY,US,,,+50.600,-002.933,-0999.0,20080721,20080721
13135,621110,99999,MOORED B,UOY,US,,,+58.900,-000.200,-0999.0,20041118,20041118
13136,621130,99999,MOORED B,UOY,US,,,+58.400,+000.300,-0999.0,20040726,20040726
13137,621160,99999,MOORED B,UOY,US,,,+58.100,+001.800,-0999.0,20040829,20040829
13138,621170,99999,MOORED B,UOY,US,,,+57.900,+000.100,-0999.0,20040726,20040726

In [106]:
# us_sta.to_csv('data/w_stations.csv')