In [1]:
import pandas as pd
import re

In [2]:
txt_file = r"data/isd-history.txt"

In [34]:
read_file = pd.read_csv(txt_file)

In [4]:
read_file.columns[0]

'USAF   WBAN  STATION NAME                  CTRY ST CALL  LAT     LON      ELEV(M) BEGIN    END'

In [5]:
read_file.iloc[0, 0]

'007018 99999 WXPOD 7018                                  +00.000 +000.000 +7018.0 20110309 20130730'

In [6]:
string = read_file.columns[0]

In [7]:
# find any non-whitespace characters
pattern = r'\S+'

In [8]:
# list of indices at start of each item in string
itm_idx = [m.start(0) for m in re.finditer(pattern, string)]

In [9]:
def parse_stations(line):
    item_list = []
    # iterate through each item
    for i in range(len(itm_idx)):
        # slice string up to last item
        if i < len(itm_idx)-1:
            item_list.append(line[itm_idx[i]:itm_idx[i+1]].strip())
        # slice last item in string
        else:
            item_list.append(line[itm_idx[i]:].strip())
    return(item_list)

In [10]:
# parse data columns
parsed_columns = parse_stations(read_file.columns[0])

In [11]:
# parse data
parsed_data = read_file.iloc[:, 0].apply(parse_stations)

In [28]:
sta_df['STATION'] = sta_df['STATION'] + sta_df['NAME']

0                           WXPOD 7018
1                           WXPOD 7026
2                           WXPOD 7070
3                            WXPOD8270
4                            WXPOD8278
                     ...
29743         VIROQUAMUNICIPAL AIRPORT
29744    ELBOW LAKE MUNICIPAL PRIDE OF
29745             IONIA COUNTY AIRPORT
29746      DEMOPOLIS MUNICIPAL AIRPORT
29747     BRANSONWEST MUNICIPAL EMERSO
Length: 29748, dtype: object

In [29]:
sta_df.tail()

,USAF,WBAN,STATION,NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
29743,A07355,00241,VIROQUA,MUNICIPAL AIRPORT,US,WI,KY51,+43.579,-090.913,+0394.1,20140731,20200516
29744,A07357,00182,ELBOW LA,KE MUNICIPAL PRIDE OF,US,MN,KY63,+45.986,-095.992,+0367.3,20140731,20200516
29745,A07359,00240,IONIA CO,UNTY AIRPORT,US,MI,KY70,+42.938,-085.061,+0249.0,20140731,20200516
29746,A51255,00445,DEMOPOLI,S MUNICIPAL AIRPORT,US,AL,KDYA,+32.464,-087.954,+0034.1,20140731,20200517
29747,A51256,00451,BRANSON,WEST MUNICIPAL EMERSO,US,MO,KFWB,+36.699,-093.402,+0411.2,20140731,20200516

In [12]:
# create station data dataframe
sta_df = pd.DataFrame(list(parsed_data.values), columns=parsed_columns)
sta_df.head()

,USAF,WBAN,STATION,NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
0,007018,99999,WXPOD 70,18,,,,+00.000,+000.000,+7018.0,20110309,20130730
1,007026,99999,WXPOD 70,26,AF,,,+00.000,+000.000,+7026.0,20120713,20170822
2,007070,99999,WXPOD 70,70,AF,,,+00.000,+000.000,+7070.0,20140923,20150926
3,008260,99999,WXPOD827,0,,,,+00.000,+000.000,+0000.0,20050101,20100920
4,008268,99999,WXPOD827,8,AF,,,+32.950,+065.567,+1156.7,20100519,20120323

In [13]:
len(sta_df)

29748

In [14]:
# stations in the US
us_sta = sta_df[sta_df['CTRY']=='US'].copy()
us_sta.head()

,USAF,WBAN,STATION,NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
13133,621010,99999,MOORED B,UOY,US,,,+50.600,-002.933,-0999.0,20080721,20080721
13135,621110,99999,MOORED B,UOY,US,,,+58.900,-000.200,-0999.0,20041118,20041118
13136,621130,99999,MOORED B,UOY,US,,,+58.400,+000.300,-0999.0,20040726,20040726
13137,621160,99999,MOORED B,UOY,US,,,+58.100,+001.800,-0999.0,20040829,20040829
13138,621170,99999,MOORED B,UOY,US,,,+57.900,+000.100,-0999.0,20040726,20040726

In [42]:
len(us_sta)

7327

In [33]:
us_sta[us_sta['CALL']=='PAFA']

,USAF,WBAN,STATION,NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
15255,702610,26411,FAIRBANK,S INTERNATIONAL,US,AK,PAFA,+64.804,-147.876,+0131.7,19460101,20200516

In [106]:
# us_sta.to_csv('data/w_stations.csv')

# meteostat station data

In [38]:
columns = ['ID', 'Country', 'Name', 'Latitude', 'Longitude', 'Elevation', 'ICAO ID', 'WMO ID', 'IATA ID', 'Time Zone']

In [39]:
w_sta = pd.read_csv('data/stations.csv', names=columns)

In [40]:
w_sta

,ID,Country,Name,Latitude,Longitude,Elevation,ICAO ID,WMO ID,IATA ID,Time Zone
0,PABL0,US,Buckland Airport,65.9667,-161.1500,7.0,PABL,NaN,BKC,NaN
1,01001,NO,Jan Mayen,70.9333,-8.6667,10.0,ENJA,1001.0,NaN,Europe/Oslo
2,01002,NO,Grahuken,79.7833,14.4667,NaN,NaN,1002.0,NaN,Europe/Oslo
3,01003,NO,Hornsund,77.0000,15.5000,10.0,NaN,1003.0,NaN,Europe/Oslo
4,01004,NO,Ny-Alesund Ii,78.9167,11.9333,8.0,ENAS,1004.0,NaN,Europe/Oslo
...,...,...,...,...,...,...,...,...,...,...
30404,D5851,DE,Herdorf,50.7668,7.9735,483.0,NaN,NaN,NaN,Europe/Berlin
30405,D5930,DE,Garmisch-Partenkirchen (Kanker),47.4921,11.1747,920.0,NaN,NaN,NaN,Europe/Berlin
30406,D5958,DE,Glees (Laacher See),50.3996,7.2651,287.0,NaN,NaN,NaN,Europe/Berlin
30407,D9041,DE,Zinnwald,50.7313,13.7529,871.0,NaN,NaN,NaN,Europe/Berlin
30408,D9100,DE,Neuwied-Torney,50.4563,7.4962,97.0,NaN,NaN,NaN,Europe/Berlin

In [41]:
w_sta[w_sta['Country']=='US']

,ID,Country,Name,Latitude,Longitude,Elevation,ICAO ID,WMO ID,IATA ID,Time Zone
0,PABL0,US,Buckland Airport,65.9667,-161.1500,7.0,PABL,NaN,BKC,NaN
7918,70026,US,Post Rogers Memorial Airport,71.2833,-156.7667,13.0,PABR,70026.0,BRW,America/Juneau
7919,70030,US,Wainwright Airport,70.6333,-160.0333,9.0,PAWI,70030.0,AIN,America/Nome
7920,70063,US,Oliktok Distant Early Warning,70.5000,-149.8833,5.0,POLI,70063.0,NaN,NaN
7921,70086,US,Barter Island Airport,70.1333,-143.5667,2.0,PABA,70086.0,BTI,America/Juneau
...,...,...,...,...,...,...,...,...,...,...
29257,PA020,US,Tanacross,63.3744,-143.3356,472.0,PA02,NaN,NaN,America/Juneau
29259,KUPP0,US,Upolu / Hikapoloa,20.2652,-155.8599,29.0,KUPP,NaN,NaN,Pacific/Honolulu
29261,KRBW0,US,Walterboro,32.9167,-80.6500,29.0,KRBW,NaN,NaN,America/New_York
29271,KGVW0,US,Kansas City,38.8442,-94.5603,NaN,KGVW,NaN,GVW,NaN
29292,Nc.,US,Dare County Gunnery Range,35.6667,-75.9000,3.0,Nc.,NaN,74695,NaN